@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Assistant:regular,700&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,500italic,600,700,800,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before,
.gm-style .gm-style-iw-c button::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

.circle::before {
  width: 55px;
  height: 55px;
  opacity: 0.6;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle_red::before {
  background: #F1C1C9;
}

.circle_orange::before {
  background: #FAE3AF;
}

.circle_green::before {
  background: #C5F2DC;
}

.circle_blue::before {
  background: #C5D7F2;
}

.circle_white::before {
  background: #FFF;
  opacity: 1;
}

._icon-fb:before {
  content: "\e90e";
  color: #4267B2;
}

._icon-fb:hover::before {
  color: #2d4a85;
}

._icon-push:before {
  content: "\e900";
  color: #D62642;
}

._icon-doctor:before {
  content: "\e901";
  color: #2682D6;
}

._icon-check:before {
  content: "\e902";
  color: #1ECE7A;
}

._icon-phone:before {
  content: "\e903";
  color: #D69026;
}

._icon-energy:before {
  content: "\e904";
  color: #D62642;
}

._icon-search:before {
  content: "\e905";
  color: #1ECE7A;
}

._icon-touch:before {
  content: "\e906";
  color: #D62642;
}

._icon-react:before {
  content: "\e907";
  color: #2682D6;
}

._icon-update:before {
  content: "\e908";
  color: #1ECE7A;
}

._icon-book:before {
  content: "\e909";
  color: #D69026;
}

._icon-monitor:before {
  content: "\e90a";
  color: #1C57C9;
}

._icon-picture:before {
  content: "\e90b";
  color: #1C57C9;
}

._icon-bag:before {
  content: "\e90c";
  color: #1C57C9;
}

._icon-brush:before {
  content: "\e90d";
  color: #1C57C9;
}

._icon-inst:before {
  content: "\e90f";
  color: #C21975;
}

._icon-inst:hover::before {
  color: #97155c;
}

._icon-quotes:before {
  content: "\e910";
}

._icon-tw:before {
  content: "\e911";
  color: #008EE8;
}

._icon-tw:hover::before {
  color: #0580cc;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #606C84;
  font-size: 15px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.form__label {
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.form__error {
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  color: #bb0606;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 22px;
  height: 44px;
  background: #1ECE7A;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
  color: #262B35;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 44px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
  background-size: 24px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #262B35;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 3px 3px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  font-size: 18px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  height: 44px;
  display: block;
  padding: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  color: #ccc;
  font-size: 18px;
}

.input._focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input._error {
  -webkit-box-shadow: 0 0 7px rgba(179, 1, 1, 0.432);
          box-shadow: 0 0 7px rgba(179, 1, 1, 0.432);
}

textarea.input {
  resize: none;
  padding: 10px 20px;
  height: 96px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 44px;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style {
  font-family: inherit;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-d {
  padding: 0;
  overflow: hidden !important;
  background-color: #ff6600;
}

.gm-style .gm-style-iw-t::after {
  background: #ff6600;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gm-style .gm-style-iw-c button {
  top: 5px !important;
  right: 5px !important;
}

.gm-style .gm-style-iw-c button::before {
  color: rgba(255, 255, 255, 0.5) !important;
  content: "\e91f";
  font-size: 7px;
}

.gm-style .gm-style-iw-c button img {
  display: none !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #1C57C9;
}

.title_bold {
  font-weight: bold;
  font-size: 42px;
  letter-spacing: -0.02em;
  color: #262B35;
}

.title_small {
  font-weight: 600;
  font-size: 18px;
  color: #262B35;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__line {
  padding: 35px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  max-width: 170px;
}

.header__link {
  font-weight: bold;
  font-size: 13px;
  padding: 0px 15px;
  border-right: 1px solid #D4D4D4;
  color: #262B35;
}

.header__link:last-child {
  border: 0;
}

.header__link span {
  color: #1ECE7A;
}

.menu__name {
  display: none;
}

.menu__list {
  margin: 0px 0px 45px 0px;
}

.menu__list li {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-weight: normal;
  color: #FFFFFF;
  opacity: 0.6;
  display: inline-block;
  position: relative;
  line-height: 25px;
}

.menu__link::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.menu__link:hover::after {
  width: 100%;
}

.menu__link:focus::after {
  width: 100%;
}

.menu__buttons {
  display: none;
}

.menu__btn {
  width: 170px;
  margin: 0px 0px 15px 0px;
}

.menu__btn:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__btn_transp {
  background: transparent;
  border: 1px solid #1ECE7A;
  color: #1ECE7A;
}

.icon-menu {
  display: none;
}

.icon-menu__menu {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 36px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.icon-menu__menu span {
  font-size: 0;
  color: #FF5A4F;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 0px 0px 30px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
}

.footer__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__logo {
  display: block;
  height: 45px;
  margin: 0px 0px 30px 0px;
}

.footer__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #262B35;
}

.footer__adress {
  font-size: 20px;
  line-height: 150%;
  color: #262B35;
  margin: 0px 0px 20px 0px;
}

.footer__adress span {
  display: block;
}

.footer__phone {
  font-size: 20px;
  line-height: 150%;
  color: #262B35;
  display: block;
}

.footer__email {
  font-size: 20px;
  line-height: 150%;
  color: #262B35;
  display: block;
}

.footer__title {
  font-size: 24px;
  margin: 10px 0px 20px 0px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links li {
  margin: 0px 0px 20px 0px;
}

.footer__links li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link {
  font-size: 20px;
  cursor: pointer;
}

.footer__link_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link_soc::before {
  display: inline;
  padding: 0px 25px 0px 0px;
}

.footer__bottom {
  margin: 90px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy {
  text-align: center;
  font-size: 20px;
  color: #606C84;
}

.page__promo {
  padding: 195px 0px 205px 0px;
}

.page__features {
  padding: 100px 0px 150px 0px;
}

.page__update {
  padding: 55px 0px 55px 0;
}

.page__more {
  padding: 150px 0px;
}

.page__rew {
  padding: 0px 0px 160px 0px;
}

.page__contact {
  padding: 180px 0 190px 0;
}

.page-up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 30px;
}

.page-up::before,
.page-up::after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 20px;
  height: 4px;
  background-color: #ccc;
}

.page-up::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page-up::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 12px;
}

._no-webp .promo-page{
  background: url("../img/promo/hero-image.jpg") center no-repeat; }

.promo-page {
  background-size: cover;
}

.promo-page__text {
  max-width: 560px;
}

.promo-page__text p {
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 160%;
  margin: 0px 0px 65px 0px;
}

.promo-page__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 72px;
  color: #FFFFFF;
  margin: 0px 0px 30px 0px;
}

.promo-page__title span {
  color: #1ECE7A;
}

.promo-page__btn {
  margin: 0px 15px 0px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.promo-page__btn:last-child {
  margin: 0px 0px 0px 0px;
}

.promo-page__btn_transp {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}

.features-page__text {
  margin: 0px 0px 125px 0px;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.features-page__column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 40px;
}

.features-page__column img {
  max-width: 450px;
}

.features-page__title {
  margin: 0px 0px 15px 0px;
}

.features-page__subtitle {
  margin: 0px 0px 20px 0px;
}

.features-page p {
  font-size: 18px;
  line-height: 160%;
  margin: 0px 0px 60px 0px;
}

.wrap-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  margin: 0px 0px 30px 0px;
}

.wrap-features__item p {
  color: #606C84;
  margin: 0px 0px;
}

.wrap-features__image {
  margin: 0px 0px 35px 0px;
}

.wrap-features__title {
  margin: 0px 0px 10px 0px;
}

.update-page {
  margin: 0 -10px;
}

.update-page__title {
  margin: 0px 0px 15px 0px;
}

.update-page__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.update-page__subtitle {
  max-width: 330px;
  line-height: 140%;
}

.update-page__image {
  margin: 60px 0px 0px 0px;
}

.update-page__image img {
  width: 120%;
}

.column-update {
  padding: 30px;
  color: #FFF;
}

.column-update__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.column-update__item:last-child {
  margin: 0px 0px 0px 0px;
}

.column-update__image {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-update__title {
  font-weight: 600;
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}

.column-update__descr {
  line-height: 160%;
}

.column-update._container {
  padding: 0px 0px 0px 0px;
}

.more-page {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-9.97%, rgba(255, 255, 255, 0)), to(#ECF0F7));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);
  text-align: center;
}

.more-page__maintitle {
  margin: 0px 0px 15px 0px;
}

.more-page__title {
  margin: 0px 0px 20px 0px;
}

.more-page__subtitle {
  font-size: 18px;
  line-height: 160%;
  margin: 0px 0px 85px 0px;
}

.more-page__image img {
  max-width: 675px;
  width: 100%;
}

.more-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 120px 0px 0px 0px;
}

.more-page__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 20px);
          flex: 0 1 calc(33.333% - 20px);
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 0px 0px 20px 0px;
}

.more-page__item:hover {
  -webkit-box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.3);
}

.more-page__item-img {
  margin: 0px 30px 0px 0px;
}

.more-page__item-img._icon-check::before {
  color: #D62642;
}

.more-page__item-name {
  font-weight: 600;
  font-size: 18px;
  color: #262B35;
}

.more-page__slider {
  margin: 55px 0px 0px 0px;
}

.slider-more__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px 25px;
}

.slider-more__image {
  margin: 0px 30px 0px 0px;
}

.slider-more__image._icon-check::before {
  color: #D62642;
}

.slider-more__name {
  font-weight: 600;
  font-size: 18px;
  color: #262B35;
}

.more-page__menu {
  display: none;
}

.more-page__menu .swiper-slide {
  padding: 40px 0;
}

.more-page__menu .swiper-pagination-bullets,
.reviews .swiper-pagination-bullets {
  margin: 5px 0px 0px 0px;
  width: 100%;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-page__menu .swiper-pagination-bullet,
.reviews .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #606C84;
  opacity: 0.2;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}

.more-page__menu .swiper-pagination-bullet:last-child,
.reviews .swiper-pagination-bullet:last-child {
  margin: 0px 0px 0px 0px;
}

.more-page__menu .swiper-pagination-bullet-active,
.reviews .swiper-pagination-bullet-active {
  background: #1C57C9;
  opacity: 1;
}

.rew-page {
  background-color: #ECF0F7;
  text-align: center;
}

.rew-page__title {
  margin: 0px 0px 15px 0px;
}

.rew-page__subtitle {
  max-width: 540px;
  line-height: 58px;
  margin: 0px auto 60px auto;
}

.reviews__wrapper {
  padding: 0px 20px;
}

.reviews__item {
  text-align: left;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  padding: 30px 90px 20px 30px;
}

.reviews__item::before {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #606C84;
  opacity: 0.1;
  font-size: 75px;
}

.reviews__item:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.reviews__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 75px;
  -webkit-transform: translate(20%, -20%);
      -ms-transform: translate(20%, -20%);
          transform: translate(20%, -20%);
}

.reviews__text {
  font-size: 20px;
  line-height: 160%;
  color: #262B35;
  margin: 0px 0px 40px 0px;
}

.reviews__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}

.reviews .swiper-wrapper {
  padding: 60px 0;
}

.contact-page__title {
  margin: 20px 0px 15px 0px;
}

.contact-page__subtitle {
  max-width: 425px;
  margin: 0px 0px 40px 0px;
  line-height: 59px;
}

.contact-page__subtitle span {
  display: block;
}

.contact-page__image img {
  max-width: 412px;
  width: 100%;
}

.column-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
}

.column-contact label {
  font-size: 16px;
  color: #262B35;
}

.column-contact__form_line {
  margin: 15px 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 835px) {
  ._no-webp .update-page{
    background: url("../img/Update/bg2.png") center/cover no-repeat; }
  .update-page {
    min-height: 1300px;
    background-size: cover;
  }

  .update-page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 991.98px) {
  .promo-page__btn_transp:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px;
  }

  .menu__list li {
    margin: 0px 42px 0px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer__phone:hover {
    color: #1ECE7A;
  }

  .footer__email:hover {
    color: #1ECE7A;
  }

  .footer__link:hover {
    font-weight: 600;
    color: #1C57C9;
  }

  .page-up:hover::before,
  .page-up:hover::after {
    background-color: #1C57C9;
  }

  .promo-page__btn_transp:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .features-page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -40px;
  }

  .contact-page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background: #1ece59;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .wrap-features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .update-page__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__links {
    display: none;
  }

  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #FFF;
    padding: 40px;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__name {
    display: block;
    font-weight: 600;
    font-size: 22px;
    color: #262B35;
    margin: 0px 0px 60px 0px;
  }

  .menu__link {
    color: #606C84;
    font-size: 24px;
  }

  .menu__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 85px;
    height: 35px;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .icon-menu._active .icon-menu__menu {
    border: 1px solid #FF5A4F;
    font-size: 0;
  }

  .icon-menu._active .icon-menu__menu span {
    font-size: 15px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__adress {
    max-width: 480px;
  }

  .footer__adress span {
    display: inline;
  }

  .footer__adress span:last-child {
    display: block;
  }

  .footer__title {
    margin: 50px 0px 20px 0px;
  }

  .page__promo {
    padding: 170px 0px 260px 0px;
  }

  .page__contact {
    padding: 180px 205px;
  }

  ._no-webp .promo-page{
    background: url("../img/promo/bg1t.jpg") top/cover no-repeat; }

  .promo-page {
    background-size: cover;
  }

  .features-page__text {
    margin: 0px 0px 95px 0px;
  }

  .features-page__column {
    text-align: center;
    margin: 0px 0px 80px 0px;
  }

  .features-page__column:last-child {
    margin: 0px 0px 0px 0px;
  }

  .wrap-features__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-update__image {
    width: 75px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .more-page__wrapper {
    display: none;
  }

  .more-page__menu {
    display: block;
  }

  .contact-page__title {
    text-align: center;
  }

  .contact-page__subtitle {
    margin: 0px auto 50px auto;
    text-align: center;
  }

  .contact-page__image {
    text-align: center;
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 840px) {
  .promo-page__text {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
  }

  .promo-page__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 835px) {
  .page__update {
    padding: 25px 0px 25px 0;
  }

  ._no-webp .update-page{
    background: url("../img/Update/bg2t.png") bottom no-repeat; }

  .update-page {
    min-height: 1750px;
    background-size: cover;
    text-align: center;
  }

  .update-page__subtitle {
    margin: 0 auto;
  }

  .column-update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .column-update__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-update__image {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 830px) {
  .update-page__image img {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .footer__column {
    text-align: center;
  }

  .footer__adress {
    margin: 0px auto 20px auto;
  }

  .footer__link_soc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__link_soc::before {
    padding: 0px 15px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .page__contact {
    padding: 180px 100px;
  }
}

@media (max-width: 600px) {
  .column-update__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479.98px) {
  textarea.input {
    margin: 15px 0 35px 0;
  }

  .footer__adress span:last-child {
    display: inline;
  }

  .footer__copy span {
    display: block;
  }

  .page__promo {
    padding: 100px 0px 190px 0px;
  }

  .page__rew {
    padding: 0px 0px 140px 0px;
  }

  .page__contact {
    padding: 100px 5px;
  }

  .page-up {
    right: 10px;
    bottom: 10px;
  }

  .page-up::before,
  .page-up::after {
    background-color: #4d70b8;
  }

  .promo-page__text p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
  }

  .promo-page__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 58px;
  }

  .features-page__text {
    margin: 0px 0px 60px 0px;
    font-size: 18px;
    text-align: center;
  }

  .features-page__column {
    padding: 0 15px;
  }

  .features-page__column img {
    width: 100%;
  }

  .wrap-features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  ._no-webp .column-update{
    background: #1C57C9 url("../img/Update/bg2m.png") bottom no-repeat; }

  .column-update {
    background-size: cover;
  }

  .more-page__title {
    font-size: 32px;
  }

  .rew-page__subtitle {
    font-size: 32px;
  }

  .reviews__item {
    padding: 80px 30px 20px 30px;
    text-align: center;
  }

  .reviews__item::before {
    font-size: 50px;
    right: 20px;
    bottom: 20px;
  }

  .reviews__image {
    right: 50%;
    -webkit-transform: translate(50%, -20%);
        -ms-transform: translate(50%, -20%);
            transform: translate(50%, -20%);
  }

  .reviews__text {
    font-size: 18px;
  }

  .contact-page__subtitle {
    font-size: 32px;
  }

  .contact-page .form__btn {
    width: 100%;
  }
}

@media (max-width: 375px) and (max-width: 991.98px) {
  ._no-webp .promo-page{
    background: url("../img/promo/BG1m.jpg") top/cover no-repeat; }
  .promo-page {
    background-size: cover;
  }
}

@media (max-width: 350px) {
  .promo-page__title {
    font-size: 40px;
  }
}

@media (min-width: 560px) and (max-width: 780px) {
  .footer__links_soc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__links_soc li {
    margin: 0px 0px 0px 30px;
  }

  .footer__links_soc li:last-child {
    margin: 0px 0px 0px 30px;
  }
}

._webp .promo-page{ background: url(../img/promo/hero-image.webp) center no-repeat; }

@media (min-width: 835px){

  ._webp .update-page{ background: url(../img/Update/bg2.webp) center/cover no-repeat; }
}

@media (max-width: 991.98px){

  ._webp .promo-page{ background: url(../img/promo/bg1t.webp) top/cover no-repeat; }
}

@media (max-width: 835px){

  ._webp .update-page{ background: url(../img/Update/bg2t.webp) bottom no-repeat; }
}

@media (max-width: 479.98px){

  ._webp .column-update{ background: #1C57C9 url(../img/Update/bg2m.webp) bottom no-repeat; }
}

@media (max-width: 375px) and (max-width: 991.98px){

  ._webp .promo-page{ background: url(../img/promo/BG1m.webp) top/cover no-repeat; }
}